<% page_title "Home" %>

<div class="py-4 px-5 bg-light border">
  <h1 class="display-4 mb-4">Rodauth Rails Demo</h1>
  <p class="lead">This application demonstrates a possible integration of <%= link_to "Rodauth", "http://rodauth.jeremyevans.net", target: "_blank" %> into a Rails application, using the <%= link_to "rodauth-rails", "https://github.com/janko/rodauth-rails", target: "_blank" %> gem.</p>
  <p class="lead">You can find the source code at <%= link_to "github.com/janko/rodauth-demo-rails", "https://github.com/janko/rodauth-demo-rails", target: "_blank" %>.</p>
</div>
