<% if notice %>
  <div class="alert alert-success" data-turbo-cache="false"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" data-turbo-cache="false"><%= alert %></div>
<% end %>
