<% unless rodauth.login_form_footer_links.empty? %>
  <%== rodauth.login_form_footer_links_heading %>

  <ul>
    <% if rodauth.omniauth_providers.include?(:github) %>
      <li>
        <%= button_to "Login via GitHub", rodauth.omniauth_request_path(:github),
          method: :post, data: { turbo: false }, class: "btn btn-link p-0" %>
      </li>
    <% end %>
    <% rodauth.login_form_footer_links.each do |_, link, text| %>
      <li><%= link_to text, link %></li>
    <% end %>
  </ul>
<% end %>
