<div class="mb-3">
  <%= label_tag "password", "Password", class: "form-label" %>
  <%= render "field", name: rodauth.password_param, id: "password", type: :password, value: "", autocomplete: "current-password" %>
</div>
